<div class="col-12">
    <div class="row">
        <div class="col-3">
            <div class="card" style="background: linear-gradient( pink,yellow);">
                <div class="card-header"></div>
                    <h3>68</h3>
                <div class="card-footer">
                    Total no.of msg's
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header"></div>
                    <h3>50</h3>
                <div class="card-footer">
                    Total no.of msg's sent
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header"></div>
                    <h3>44</h3>
                <div class="card-footer">
                    No.of group's sent
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header"></div>
                    <h3>91</h3>
                <div class="card-footer">
                    No.of post sent
                </div>
            </div>
        </div>
    </div>
</div>
