.card{
    height:90px;
    box-shadow: 2px 2px 2px #333;
    background-color: #868282;
}

.card .card-footer{
    font-size: 10px;
    color:white;
}

.card h3{
    color:white;
    font-size: 30px;
    font-weight: lighter;
}