<div class="col-12">
    <div class="row">
        <div class="col-4 offset-md-2 mt-3">
            <div class="col-12 mt-3">
                <form>
                    <div class="col-8 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="postTitle" placeholder="Post Title"/>
                        </div>
                    </div>
                    <div class="col-8 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="postTitle" placeholder="#tags"/>
                        </div>
                    </div>
                    <div class="col-8 mt-3">
                        <div class="form-group">
                            <input type="file" class="form-control" formControlName="postTitle" placeholder="Text/Content"/>
                        </div>
                    </div>
                    <div class="col-8 mt-3">
                        <button class="btn btn-primary">POST</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="col-12 mt-3">
                <h5>Socialize</h5>
                <div class="col-12">
                    <input type="checkbox"/>&nbsp;All<br/>
                    <input type="checkbox"/>&nbsp;Whatspp<br/>
                    <input type="checkbox"/>&nbsp;Reddit<br/>
                    <input type="checkbox"/>&nbsp;Twiter<br/>
                    <input type="checkbox"/>&nbsp;Linedln
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-primary">Add</button>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

