<div class="col-12 mt-3">
    <div class="col-8 offset-lg-2 mt-3">
        <div class="reg-form">
            <div class="row">
                <div class="col-6">
                    <div class="left-form">
                        <div class="col-12">
                            <h1>Sign Up Now</h1>
                            <span>signup now use new features now</span>
                        </div>
    
                        <div class="col-12 offset-lg-1 mt-3">
                            <button class="btn btn-default">Signup Back</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="right-form">
                        <div class="col-12">
                            <app-reg-form></app-reg-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
