.reg-form{
    border: 1px solid black;
    border-radius: 20px;
    height: 550px;
}

.reg-form h1{
    text-align: center;
}

.reg-form .left-form{
    background-color: rgb(23, 22, 23);
    height: 550px;
    border-radius: 10px 50% 50% 10px;
    color:white;
    font-weight: lighter;
    position: relative;
    
}

.reg-form .left-form h1,span,button{
    font-weight: lighter;
    position: relative;
    top:150px;
}

.reg-form .left-form span,button{
    left:100px;
}

.reg-form .left-form button{
    border: 1px solid white;
    color:white;
}

