.profile-card{
    border: 1px solid black;
    height:500px;
    border-radius: 10px;
    box-shadow: 
                3px 2px 2px #333;
}

.profile-card .profile-card-left,.profile-card-right{
    height: 500px;
    background-color: black;
}

.profile-card .profile-card-left{
    border-radius: 10px 50% 50% 10px;
    color:white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.profile-card .profile-card-right{
    border-radius: 50% 10px 10px 50%;
    color:white;
    display: flex;
    justify-content: end;
    align-items: center;
}
.profile-card .profile-card-center{
display: flex;
justify-content: center;

}
