<div class="col-12">
    <div class="col-9 offset-md-2 mt-4">
        <div class="profile-card">
            <div class="row">
                <div class="col-4">
                    <div class="profile-card-left">
                        left
                    </div>
                </div>
                <div class="col-4">
                    <div class="profile-card-center">
                        <app-my-profile-card></app-my-profile-card>
                    </div>
                </div>
                <div class="col-4">
                    <div class="profile-card-right">
                        right
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
