<div class="col-12">
    <form [formGroup]="CustomerLogin">
        <div class="col-7 offset-md-3 mt-4">
        
            <div class="form-group">
                <input type="text" placeholder="Enter username or mobilenumber"
                class="form-control" formControlname="userName"/>
                <div *ngIf="CustomerLogin.controls['userName'].invalid && CustomerLogin.controls['username'].touched || CustomerLogin.controls['username'].dirty"  class="text text-danger">
                    <span>invalid username</span>
                </div>
            </div>
        </div>
    
        <div class="col-7 offset-md-3 mt-4">
            <div class="form-group">
                <input type="password" placeholder="Enter password"
                class="form-control" formControlname="password"/>
                <div *ngIf="CustomerLogin.controls['password'].invalid && CustomerLogin.controls['password'].touched || CustomerLogin.controls['password'].dirty" 
                class="text text-danger">
                    <span>invalid password</span>
                </div>
            </div>
        </div>       
    </form> 

    <div class="col-9 offset-md-2">
        <div class="row">
            <div class="col-5 offset-md-1">
                <a href="www.google.com">Forgotusername&password?</a>
            </div>
            <div class="col-5 offset-md-1">
                <a href="regsiter.com">Register Here</a>
            </div>
        </div>
    </div>
    
    <div class="col-5 offset-md-3 mt-4">
        <div class="row">
            <div class="col-5 offset-md-1 mt-2">
                <button class="btn btn-primary" (click)="submit()">login</button>
            </div>
            <div class="col-5 offset-md-1 mt-2">
                <button class="btn btn-default" (click)="backHome()">Cancel</button>
            </div>
        </div>
    </div>
</div>
