<div class="col-12">
    <div class="dash-board">
        
        <div class="row mt-2">
            <div class="col-3">
                <app-side-navigation></app-side-navigation>
            </div>
            <div class="col-9">
                <div class="col-12">
                    <div class="profile-bar">
                        <div class="row">
                            <div class="col-3 offset-md-9">
                                <div class="profile-card">
                                    <img src="" alt="pic"/>&nbsp;
                                    {{name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <app-main-cards></app-main-cards>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">card</div>
                        <div class="col-6">
                            <app-graph-card></app-graph-card>
                        </div>
                        <div class="col-6">
                            <app-pie-chart></app-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
