<div class="col-12">
    <div class="row">
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-header">
                    socialapp

                    <button (click)="fit()">-</button>
                    <button (click)="fat()">+</button>
                </div>

                <div class="content" *ngIf="show">
                    <div class="image-media">
                        <img src="assets/img/soc_icon.jpeg" alt="fasebook"/>
                    </div>
                </div>
                <div class="card-footer">
                    socail app
                </div>
            </div>
        </div>
        
    </div>
</div>
