<div class="col-12 mt-3">
    <div class="col-12 offset-md-2">
        <h4>Sign up now</h4>
    </div>
    <form>
        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter firstname"/>
                <div *ngIf="CustomerDetail.controls['firstName'].invalid && CustomerDetail.controls['firstName'].touched || CustomerDetail.controls['firstName'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['firstName'].errors?.['required']">enter firstname</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Lastname"/>
                <div *ngIf="CustomerDetail.controls['lastName'].invalid && CustomerDetail.controls['lastName'].touched || CustomerDetail.controls['lastName'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['lastName'].errors?.['required']">enter Lastname</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Email"/>
                <div *ngIf="CustomerDetail.controls['Email'].invalid && CustomerDetail.controls['Email'].touched || CustomerDetail.controls['Email'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['Email'].errors?.['required']">enter email</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter url:1"/>
                <div *ngIf="CustomerDetail.controls['url1'].invalid && CustomerDetail.controls['url1'].touched || CustomerDetail.controls['url1'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['url1'].errors?.['required']">enter choose Url</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter url:2"/>
                <div *ngIf="CustomerDetail.controls['url2'].invalid && CustomerDetail.controls['firstName'].touched || CustomerDetail.controls['firstName'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['url2'].errors?.['required']">enter choose url</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="country code(+)phone number"/>
                <div *ngIf="CustomerDetail.controls['phonenumber'].invalid && CustomerDetail.controls['phonenumber'].touched || CustomerDetail.controls['phonenumber'].dirty" class="text text-danger">
                    <small *ngIf="CustomerDetail.controls['phonenumber'].errors?.['required']">wrong phonenumber</small>
                </div>
            </div>
        </div>

        <div class="col-8 offset-md-1">
            <div class="form-group">
                <a href="addmore.in">Add More +</a>
            </div>
        </div>
    </form>
        <div class="col-4 offset-md-3 mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>
</div>
