<div class="col-12 mt-3">
    <div class="col-4 offset-md-4 mt-3">
        <div class="admin-login">
            <div class="card">
                <div class="card-header">
                    <h3>Lead Sign In</h3>
                </div>
                <form>
                    <div class="col-8 offset-md-2 mt-3">
                        <div class="form-group">
                            <input type="text" placeholder="Enter username" class="form-control"
                            formControlName="Username"/>
                            <div>
                                <small class="text text-danger">invalid username</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 offset-md-2 mt-2">
                        <div class="form-group">
                            <input type="password" placeholder="Enter password" class="form-control"
                            formControlName="Username"/>
                            <div>
                                <small class="text text-danger">invalid username</small>
                            </div>
                        </div>
                    </div>
                </form>

                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-5 offset-md-1">
                                <button class="btn btn-default">Add</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
</div>
