<div class="col-12">
    <div class="row">
        <div class="col-3 mt-4">
            <div class="card">
                <div class="card-header">
                    <h1>limited &nbsp;&nbsp;&nbsp;&nbsp;post</h1>
                </div>
                <div class="content">
                    <div class="col-12">
                        $<h1>Free</h1>
                    </div>
                    <div class="col-12">
                        <table>
                            <tr>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="count-msg">For 20 limited meassages</td>
                            </tr>
                            <tr>
                                <td>50 msg's per pack</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">BUY NOW</button>
                </div>
            </div>
        </div>

        <div class="col-3 offset-md-1 mt-4">
            <div class="card">
                <div class="card-header">
                    <h1>unlimited post</h1>
                </div>
                <div class="content">
                    <div class="col-12">
                        $<h1>127</h1>
                    </div>
                    <div class="col-12">
                        <table>
                            <tr>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="count-msg">unlimited meassages</td>
                            </tr>
                            <tr>
                                <td>Half yearly</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">BUY NOW</button>
                </div>
            </div>
        </div>

        <div class="col-3 offset-md-1 mt-4">
            <div class="card">
                <div class="card-header">
                    <h1>unlimited post</h1>
                </div>
                <div class="content">
                    <div class="col-12">
                        $<h1>127</h1>
                    </div>
                    <div class="col-12">
                        <table>
                            <tr>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="count-msg">For 20 limited meassages</td>
                            </tr>
                            <tr>
                                <td>Annual pack</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">BUY NOW</button>
                </div>
            </div>
        </div>

        
    </div>
</div>
