.card{
    box-shadow: 3px 2px 3px #333,
    -1px -2px 1px #333;
}
.card .card-header{
    border: none;
}
.card .content{
    height: 400px;
    font-size: 30px;
    text-align: center;
}

.card .content table{
    border:none;
    height: 200px;
    width:305px;
    position: relative;
    top:100px;
}
.card .content table td.count-msg{
    font-size: 15px;
}
.card .card-header h1{
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.card .content h1{
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}

.card .content table tr{
    height: 30px;
}

.card .content table tr:nth-child(even){
    background-color: rgba(0,0,0,0.2);

}
td{
    text-align: center;
}

.card-footer{
    border: none;
}
.card-footer button{
    width:230px;
    position: relative;
    margin: auto;
    height: 50px;
    left: 20px;
}